body {
  font-family: "Helvetica", "Verdana", "Arial", sans-serif;
  background-image: url('./img/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-center {
  width: 50vw;
  background-color: LightGray;
  opacity: 0.9;
  border-radius: 10px;
  animation: fallingDown 1.8s forwards 0s ease;
}

#survey-form {
  width: 80%;
}

span {
  color: #EB4604;
}

@keyframes fallingDown {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media(max-width: 1400px) {
  .page-center {
    width: 68vw;
  }
}

@media(max-width: 1100px) {
  .page-center {
    width: 87vw;
  }
  #survey-form {
    width: 85%;
  }
}

@media(max-width: 960px) {
  .page-center {
    width: 95vw;
  }
  #survey-form {
    width: 90%;
  }
}