@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

:root {
  --text-color-purple: #6539B5;
}

html, body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#main {
  width: 85%;
  background-image: linear-gradient(47deg, #3e8ede 0%, #c5c5e5 100%);
  border-radius: 10px;
  margin: -15px auto 20px auto;
}

header {
  font-family: 'Courgette', cursive, monospace;
}

#title {
  padding-top: 15px;
  font-size: 4rem;
}

#ranked {
  margin-top: -1rem;
  padding: 0 10px 0 10px;
  font-size: 1.4rem;
}

#img-div {
  width: 100%;
  display: inline-block;
  background-image: url('./img/image1.png');
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#image {
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 240%;
  color: white;
  padding: 15px 0 15px 0;
}

.awards {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.awards-inner {
  background-image: linear-gradient(-90deg, #A0A0A0 0%, #B5B5B5 20%, #C0C0C0 100%);
  display: inline-flex;
  align-items: center;
  width: 48%;
  border-radius: 5px;
  margin: 5px;
  padding: 8px 0 8px 0;
}

.icon {
  padding-left: 2px;
}

.awards-item {
  color: var(--text-color-purple);
  text-align: left;
  font-family: 'Shrikhand', cursive;
  font-size: 120%;
  padding-left: 5px;
}

.awards-inner:hover {
  background-position: 374px 0;
  transition: all 0.3s;
}

.awards-inner::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: inherit;
}

a {
  color: var(--text-color-purple);
}

a:link, a:visited {
  text-decoration: none;
}

#tribute-info {
  max-width: 770px;
  display: inline-block;
}

.books-and-lectures {
  display: grid;
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 2px;
}

.item {
  color: #606060;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-weight: 100;
  border-radius: 5px;
  box-shadow: 3px 3px 4px #909090;
  transition: all 0.2s;
}

.item:hover {
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

footer {
  padding: 50px 0 35px 0;
  font-size: 120%;
}

@media(max-width: 1000px) {
  #main {
    width: 100%;
  }
  #img-caption {
    font-size: 130%;
  }
  .awards-inner {
    width: 100%;
  }
  .awards-item {
    font-size: 150%;
    padding-left: 10px;
  }
  .icon {
    padding-left: 10px;
  }
}